body {
  font-family: Arial, sans-serif;
}

.image-container {
  position: relative;
}

.image-container img {
  position: absolute;
}

.image-container h1 {
    position: absolute;
    z-index: 1;
}

.comic-sans {
  font-family: "Comic Sans MS"
}

.arial {
  font-family: Arial, sans-serif;
}

.impact {
  font-family: Impact, sans-serif;
}

.courier {
  font-family: 'Courier New', Courier, monospace
}

.small {
  font-size: 14px;
}

.large {
 font-size: 24px;
}

.larger {
  font-size: 36px;
}

.huge {
  font-size: 48px;
}