body {
  font-family: Arial, sans-serif;
}

.image-container {
  position: relative;
}

.image-container img {
  position: absolute;
  float: left;
}

.image-container h1 {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.comic-sans {
  font-family: "Comic Sans MS"
}

.arial {
  font-family: Arial, sans-serif;
}

.impact {
  font-family: Impact, sans-serif;
}

.courier {
  font-family: 'Courier New', Courier, monospace
}